<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    <title>About</title>
    <div class="main-content">
        {{> header }}   
        <h2>{{name}}</h2>
        <img class="portrait" src="/images/slay.jpg" alt="">
    </div>
    
    {{>footer}}


</body>

</html>